<footer class="bg-dark text-white mt-4">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4">
        <h5 class="text-uppercase">FraisDirect</h5>
        <p>Votre plateforme en ligne dédiée à la valorisation des produits locaux.</p>
      </div>
      <div class="col-md-4">
        <h5 class="text-uppercase">Navigation</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Accueil</a></li>
          <li><a href="#" class="text-white">Produits</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
          <li><a href="#" class="text-white">À propos</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="text-uppercase">Suivez-nous</h5>
        <a href="#" class="text-white mr-2"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="text-white mr-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white mr-2"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-white mr-2"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <p class="mb-0">© 2024 FraisDirect. Tous droits réservés.</p>
      </div>
    </div>
  </div>
</footer>
