<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4 border-0">
        <div class="row no-gutters">
          <div class="col-md-4 col-sm-12">
            <img src="/assets/images/panier.jpg" class="card-img" alt="Produits locaux">
          </div>
          <div class="col-md-8 col-sm-12">
            <div class="card-body">
              <p class="card-text mt-3 letext">
                Votre plateforme en ligne dédiée à la valorisation des produits locaux et à la mise en avant des vendeurs de légumes de votre région.
                Notre mission est de créer un lien direct entre les producteurs locaux et les consommateurs, en offrant une visibilité accrue aux producteurs
                et en facilitant l'accès à des produits frais et de qualité pour les consommateurs.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Catégories</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li *ngFor="let category of categories" class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="getSubCategories(category.categoryID)">{{category.nameCategory}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>

  <div *ngFor="let sc of subcategories" class="row">
    <h3 class="col-12">{{sc.nameSubCategory}}</h3>
    <div class="col-1 d-flex align-items-center justify-content-center">
      <button class="btn-arrow btn-arrow-left" (click)="previousPage(sc.subCategoryID)" [disabled]="paginationStates[sc.subCategoryID].currentPage === 0">
        <i class="bi bi-caret-left-square-fill"></i>
      </button>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-12 mb-4" *ngFor="let product of paginatedProducts(sc.subCategoryID)">
          <div class="card h-100 border-0 shadow-sm">
            <a (click)="handleDescription(product.productID)">
              <img [src]="utilsService.formatImage(product.images[0])" class="card-img-top fixed-height" alt="{{ product.description }}">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description | slice:0:50 }}...</p>
              <div class="d-flex justify-content-between align-items-center">
                <span class="font-weight-bold">
                  Prix : {{ product.productPrice?.priceModel == "WEIGHT" ? (product.productPrice?.basedPriceID?.weight + ' kg /' + product.productPrice?.basedPriceID?.price + ' F CFA') : (product.productPrice?.basedPriceID?.price + ' F CFA /' + product.productPrice?.basedPriceID?.quantity + ' unité') }}
                </span>
                <button *ngIf="!productAdded(product)" (click)="addCart(product)" class="btn btn-outline-success d-flex align-items-center">
                  <i class="bi bi-cart-plus me-2"></i>
                </button>
                <div *ngIf="productAdded(product)" class="btn-group" role="group">
                  <button (click)="onDecreaseQuantity(product.productID)" class="btn btn-secondary">-</button>
                  <button (click)="onIncreaseQuantity(product.productID)" class="btn btn-secondary">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
      <button class="btn-arrow btn-arrow-right" (click)="nextPage(sc.subCategoryID)" [disabled]="(paginationStates[sc.subCategoryID].currentPage + 1) * paginationStates[sc.subCategoryID].itemsPerPage >= (productsBySubCategory[sc.subCategoryID]?.length || 0)">
        <i class="bi bi-caret-right-square-fill"></i>
      </button>
    </div>
  </div>
</div>
