input.ng-valid {
  border-color: green;
}

input.ng-invalid {
  border-color: red;
}

.error {
  color: red;
}

form {
  max-width: 400px;
  margin: 70px auto 0; /* 40px en haut, centré horizontalement */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Style des divs contenant les champs */
div {
  margin-bottom: 10px;
}

/* Style des labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style des inputs et selects */
input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Pour inclure le padding dans la largeur */
}

/* Style du bouton Soumettre */
button[type="submit"] {
  background-color: #4CAF50; /* Couleur de fond verte */
  color: white; /* Couleur du texte blanche */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover du bouton Soumettre */
button[type="submit"]:hover {
  background-color: #45a049; /* Couleur de fond verte foncée */
}
