<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logofd.png" alt="Logo FraisDirect" class="logo-img" [routerLink]="['/customer/']">
    </a>

    <!-- Bouton pour afficher/cacher le menu sur les appareils mobiles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Liens de navigation principaux -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link nav-spacing" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/shopkeeper/product']" class="nav-link nav-spacing">Ajouter Produit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-spacing" href="#">Contacts</a>
        </li>
      </ul>

      <!-- Champ de recherche au centre -->
      <form class="d-flex mx-auto search-bar-form">
        <input class="form-control me-2 search-bar" type="search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Recherche</button>
      </form>

      <!-- Icônes de profil et panier -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nav-spacing btn btn-outline-success profile-cart-exception" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i> Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="profileDropdown">
            <li><a class="dropdown-item dropdown-hover" href="#">Créer un compte</a></li>
            <li><a class="dropdown-item dropdown-hover" href="#">Se connecter</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-spacing btn btn-outline-success profile-cart-exception" href="#">
            <i class="bi bi-cart"></i> Panier
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
