.logo-img {
  height: 80px; /* Ajustez la hauteur selon vos besoins */
  width: auto; /* Conserve le ratio d'aspect de l'image */
}

.navbar {
  height: 70px; /* Définissez la hauteur fixe de la navbar pour correspondre à la hauteur du logo */
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 1rem; /* Espace entre le logo et le premier lien */
}

.nav-spacing {
  margin-right: 15px; /* Ajustez la valeur selon vos besoins */
}

/* Optionnel : Supprimer la marge du dernier élément */
.navbar-nav .nav-item:last-child .nav-spacing {
  margin-right: 0;
}

/* Changer la couleur des liens du menu lors du survol, sauf pour "Profil" et "Panier" */
.nav-link.nav-spacing:not(.profile-cart-exception):hover {
  color: #28a745 !important; /* Couleur verte pour le texte */
}

/* Changer la couleur des icônes du menu lors du survol, sauf pour "Profil" et "Panier" */
.nav-link.nav-spacing:not(.profile-cart-exception):hover i {
  color: #28a745; /* Couleur verte pour les icônes */
}
/* Style pour le survol des éléments de la liste déroulante */
.dropdown-item.dropdown-hover:hover {
  background-color: #198754; /* Change la couleur de fond au survol */
  color: white; /* Change la couleur du texte au survol */
}





