<div class="centered-container">
 
  <form (ngSubmit)="onSubmit(subCategoryAttributesForm)" #subCategoryAttributesForm="ngForm" class="category-form">
    <div>
      <label for="attributeId">Attribute ID</label>
      <input type="number" id="attributeId" name="attributeId" [(ngModel)]="subCategoryAttributes.subCategoryAttributeKey.attributeId" required>
    </div>

    <div>
      <label for="categoryId">Category ID</label>
      <input type="number" id="categoryId" name="categoryId" [(ngModel)]="subCategoryAttributes.subCategoryAttributeKey.categoryId" required>
    </div>

    <button type="submit" class="btn-submit">Ajouter</button>
  </form>
</div>
