<form (ngSubmit)="onSubmit()" #attributesForm="ngForm" class="attribute-form">
  <div>
    <label for="attributeName">Nom de l'attribute</label>
    <input type="text" id="attributeName" name="attributeName" [(ngModel)]="attributes.attributeName" required>
  </div>

  <div>
    <label for="attributeDescription">Description</label>
    <textarea id="attributeDescription" name="attributeDescription" [(ngModel)]="attributes.attributeDescription" required></textarea>
  </div>

  <button type="submit" class="btn-submit">Ajouter</button>
</form>
