<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2>Liste des Produits</h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Code Produit</th>
          <th scope="col">Nom du produit</th>
          <th scope="col">Description</th>
          <th scope="col">Prix de base</th>
          <th scope="col">Quantité</th>
          <th scope="col">Sous-catégorie</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.codeProduit }}</td>
          <td>{{product.name}}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.basicPrice }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.subCategory }}</td>
          <td>
            <button type="button" class="btn btn-sm btn-primary">
              <i class="bi bi-pencil"></i> Éditer
            </button>
            <button type="button" class="btn btn-sm btn-danger ms-1">
              <i class="bi bi-trash"></i> Supprimer
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="onPageChange($event)" [currentPage]="currentPage" [itemsPerPage]="itemsPerPage" [totalItems]="totalItems"></pagination-controls>
    </div>
  </div>
</div>
